on:
  workflow_dispatch:

name: 'Dump PROD SQL database'
jobs:
  deploy:
    name: 'Dump SQL database'
    runs-on:
      labels: 'drupal-runner-v2'
    steps:
      - name: 'Dump SQL database'
        uses: eaudeweb/drupal-sql-dump-action@1.x
        with:
          ssh_user:             ${{ secrets.PROD_SSH_USER }}
          ssh_host:             ${{ secrets.PROD_SSH_HOST }}
          ssh_key:              ${{ secrets.PROD_SSH_KEY }}
          project_dir:          ${{ vars.PROD_PROJECT_DIR }}
          sql_dump_file:        ${{ vars.PROD_SQL_DUMP_DIR }}/database.sql
